<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="bd_conexao"
	   connectionString=
		"Data Source=bd_conexao; 
		Initial Catalog=db_biblioteca_virutal;
		User ID=root; Password=1234"
	   providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>